// COLORS
$alto: #dedede;
$apple: #43a047;
$athens-gray: #f0f1f3;
$black: #000;
$blaze-orange: #ff7200;
$cinnabar: #e84642;
$cod-gray: #111;
$curious-blue: #1f89e5;
$denim: #1565c0;
$dodger-blue: #2196f3;
$dodger-blue-darker: #3f7afc;
$dove-gray: #646464;
$dusty-gray: #9c9c9c;
$fern: #66bb6a;
$gallery: #eee;
$malibu-darker: #64b5f6;
$malibu: #8ad5f4;
$mine-shaft: #292929;
$mine-shaftapprox: #222;
$orange-peel: #ffa000;
$orange-red: rgba(255, 61, 0, 0.4);
$picton-blue-brigther: #21bff3;
$picton-blue-darker: #45bced;
$picton-blue-light: rgba(92, 196, 239, 0.2);
$picton-blue-lighter: rgba(92, 196, 239, 0.5);
$picton-blue: rgba(92, 196, 239, 0.1);
$royal-blue: #314ce0;
$sail: #b3d4fc;
$scorpion: #585858;
$silver-chalice-light: #aeaeae;
$silver-chalice: #a1a1a1;
$silver-dark: #848484;
$silver-darker: #bcbcbc;
$silver: #ccc;
$steel-blue: #5c77bc;
$torch-red: #f81b1b;
$tree-poppy: #ff9a19;
$tundora: #4a4a4a;
$waikawa-gray: #546ca9;
$white: #fff;
$white-yellow: #fff2d8;
$yellow-sea: #ffae01;
$mauvelous: #f48fb1;
$red: #f00;
$ocean-green: #3cb878;
$malachite: #00c853;
$malachite-light: #08b13c;
$seance: #8e24aa;
$lilac-bush: #9575cd;
$bouquet: #a864a8;
$java: #1cbbb4;
$silk: #bcaaa4;
$bright-sun: #fbd540;
$mute-high: #9f9f9f;
$mute-medium: #a5a5a5;
$mute-low: #a8a8a8;
$light-sea-green: rgba(28, 187, 180, 0.4);
$blue-fb: #485c8f;
$red-gplus: #db1a1a;
$blue-linked: #1559a7;
$alabaster: #f8f8f8;

// FONT SIZES

$fs-xs: 0.75em;
$fs-sm: 0.875em;
$fs-1x: 1em;
$fs-2x: 2em;
$fs-3x: 3em;
$fs-4x: 4em;
$fs-5x: 5em;
$fs-6x: 6em;
$fs-7x: 7em;
$fs-8x: 8em;
$fs-9x: 9em;
$fs-10x: 10em;

// MARGINS
$mg-5px: 5px;
$mg-12px: 12px;

// PADDINGS

$padding-2px: 2px;
$padding-4px: 4px;
$padding-9px: 9px;

// HEIGHT
$height-80px: 80px;
$height-13px: 13px;

// BORDER RADIUS

$br-50percent: 50%;
